@{
    Layout = "~/Views/Shared/ClientShared.cshtml";
}

@using Term_Project.Models
@model Term_Project.Models.Mobile

<div style="margin-top:2em;margin-left:2em">

    @if (Model != null)
    {
        <h1 style="color:ButtonFace;">Mobile Details</h1>
    <div class="row">
        <div class="col-lg-5 col-sm-offset-1">
            <table class="table table-responsive table-bordered" style="background-color:ButtonHighlight">

                <tr style="width:3em">
                    <th style="color:chocolate; font-weight:bolder;font-size:4em">
                        @Model.Company @Model.Model
                    </th>

                </tr>

                <tr style="font-size:3em">
                    <td style="color:black">
                        Price
                    </td>
                    <td style="color:black">
                        Rs. @Model.Price
                    </td>
                </tr>
                <tr style="font-size:3em">
                    <td style="color:black">
                        RAM
                    </td>
                    <td style="color:black">
                        @Model.RAM
                    </td>
                </tr>
                <tr style="font-size:3em">
                    <td style="color:black">
                        ROM
                    </td>
                    <td style="color:black">
                        @Model.ROM
                    </td>
                </tr>
                <tr style="font-size:3em">
                    <td style="color:black">
                        Screen Size
                    </td>
                    <td style="color:black">
                        @Model.Screen
                    </td>
                </tr>
                <tr style="font-size:3em">
                    <td style="color:black">
                        Processor
                    </td>
                    <td style="color:black">
                        @Model.Processor
                    </td>
                </tr>
                <tr style="font-size:3em">
                    <td style="color:black">
                        OS
                    </td>
                    <td style="color:black">
                        @(Model.OSType)
                    </td>
                </tr>
                <tr style="font-size:3em">
                    <td style="color:black">
                        OS Version
                    </td>
                    <td style="color:black">
                        @Model.OSModel
                    </td>
                </tr>
                <tr style="font-size:3em">
                    <td style="color:black">
                        Primary Cemara
                    </td>
                    <td style="color:black">
                        @Model.PrimaryCamera
                    </td>
                </tr>
                <tr style="font-size:3em">
                    <td style="color:black">
                        Secendory Cemara
                    </td>
                    <td style="color:black">
                        @Model.SecandaryCamera
                    </td>
                </tr>

            </table>
        </div>
        <div class="col-lg-5">
            <a class=" img-rounded fancybox" href="~/Content/image/phone/@(Model.Model)_1.jpg">
                <img height="350" width="550" src="~/Content/image/phone/@(Model.Model)_1.jpg" />
            </a>
        </div>
        <div class="col-lg-2"></div>
        <div class="row">

            @for (int i = 2; i < 5; i++)
            {
                <div class="col-sm-1">
                    <a class=" img-rounded fancybox" href="~/Content/image/phone/@(Model.Model)_@(i).jpg">
                        <img style="margin-top:1em" height="90" width="110" src="~/Content/image/phone/@(Model.Model)_@(i).jpg" />
                    </a>
                </div>
            }

        </div>
    
        </div>
    <div class="col-lg-12" >
        <h1 style="color:gold;">Comments</h1>
        @if (ViewBag.commentList != null)
        {
            <div style="padding-left:2em">
                @foreach (Comment x in ViewBag.commentList)
                {
                    <h3 style="color:greenyellow">@x.Username</h3>
                    <h4 style="color:white; margin-left:2em">@x.Comment1</h4>
                }
            </div>
            <div class="col-lg-7 col-lg-offset-0" style="opacity:0.9">
                <form action="~/Client/SaveComment"  method="post">
                            <label for="name" style="color:white;font-size:2em" class="col-sm-12 control-label">Your Comment</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="name" name="UserComment" required placeholder="Comment">
                            </div>
                        
                        <div class="form-group" style="margin-left:15em">
                            <input type="submit" class="btn btn-success" value="Save">
                        </div>
                </form>
            </div>
        }
        else
        {
            <h3 style="color:lightgreen">No previous Commnets on this device</h3>
            <div class="col-lg-7 col-lg-offset-0" style="opacity:0.9">
                <form action="~/Client/SaveComment"  method="post">
                            <label for="name" style="color:white;font-size:2em" class="col-sm-12 control-label">Your Comment</label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="name" name="UserComment" required placeholder="Comment">
                            </div>
                        
                        <div class="form-group" style="margin-left:15em">
                            <input type="submit" class="btn btn-success" value="Save">
                        </div>
                </form>
            </div>
        }
    </div>
    }
    else
    {
        <h1 style="color:white">0 Search Result Found</h1>
        <h1 style="opacity:0">a</h1>
        <h1 style="opacity:0">a </h1>
        <h1 style="opacity:0">a </h1>
        <h1 style="opacity:0">a </h1>
        <h1 style="opacity:0">a </h1>
    }
</div>


